<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundot.p4bu">
    <queries>

        <!-- 如果想要与其他的应用进行AIDL通信的话，需要在这里注册包名的信息 -->
        <!-- 谷歌的文档说明 https://developer.android.google.cn/guide/topics/manifest/queries-element?hl=en -->
        <package android:name="com.fundot.customscreen" />
        <package android:name="com.fundot.settings" />
        <intent>
            <action android:name="com.update.LocalUpdate" />
        </intent>
    </queries>

    <application>

    </application>

</manifest>